<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{ partial "head.html" . }}

    <!-- OGP-->
    {{ if .Params.Image }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.Image }}">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.Image }}">
    {{ else if .Site.Params.Image }}
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Site.Params.Image }}">
    {{ end }}


    <!--google Adsence-->
    <script data-ad-client="ca-pub-4452543806717276" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161499269-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-161499269-1');
    </script>
</head>
<body>
  <div id="all">
      <div class="container-fluid">
          <div class="row row-offcanvas row-offcanvas-left">
              {{ partial "sidebar.html" . }}
              {{ block "main" . }}
              {{ end }}
          </div>
      </div>
  </div>
  {{ partial "scripts.html" . }}
</body>
</html>
