{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
     <h1>{{ .Title }}</h1>
     <div class="tags">{{ partial "taxonomy.html" . }}</div> <!--タグ、カテゴリをinclude-->
     <div>{{ dateFormat "2006/01/01" .Date }}</div>
		 <div><img src="{{ .Params.Image }}" /></div>
         {{ .Content }}
         {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>

  <div>
  	<div>{{with .Prev}}<a href="{{.URL}}">&lt;- 前の記事 - {{.Title}}</a>{{end}}</div>
  	<div style="text-align:right;">{{with .Next}}<a href="{{.URL}}">次の記事 - {{.Title}} - &gt;</a>{{end}}</div>
  </div>
  
</div>
{{ end }}