{{ if .Site.Params.backgroundImage }}
<article class="ui raised card dream-card" style="box-shadow: none;">
{{ else }}
<article class="ui raised card dream-card" style="box-shadow: none;">
{{ end }}
  <div class="image nemumi_summary_image">
    {{ if isset .Params "image" }}
      <img src="{{ .Params.image }}" alt="{{ .Title }}" class="nemumi_summary_img"/>
    {{ else }}
      {{/* 画像がないときに出すダミー画像（４枚ダミー画像がある様子） */}}
      <img src="/img/default{{ index (shuffle (seq 1 4)) 0 }}.jpg" alt="{{ .Title }}" class="nemumi_summary_img"/>
    {{ end }}
  </div>

  <div class="content">
    <h2 class="ui medium header">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    <div class="meta">
      <p class="date">{{ .Date.Format "2006/1/2 Mon" }}</p>
      <!--<p class="author">@ {{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}</p>-->
    </div>
    <div class="description">
      {{ .Description | plainify | htmlUnescape }}
    </div>
  </div>

  {{ partial "tags.html" . }}
</article>
